server {
    listen 80;
    http2 on;
    server_name ${OTLP_DOMAIN};

    # OTLP HTTP
    location ^~ /v1/ {
        proxy_pass http://opentelemetry-collector:4318;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    # OTLP gRPC
    location ^~ /opentelemetry.proto.collector. {
        grpc_pass grpc://opentelemetry-collector:4317;
        grpc_set_header Host $host;
        grpc_set_header X-Forwarded-Proto $scheme;
    }

    location / { return 404; }
}
